@import url("https://fonts.googleapis.com/css2?family=Onest:wght@300&family=Roboto+Condensed:wght@300;700&display=swap");

:root {
  --color: #4ed1ff;
}

body {
  padding-top: 60px; /* Adjust the value to match the height of your navbar */
}


#hero {
  font-size: 16px;
  font-family: "Montserrat", sans-sherif;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.hero {
  position: relative;
  background: #333333;
  color: white;
  height: 90vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero h2 {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  margin: 0 0 10px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
}

.hero p {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: var(--color);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: "";
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(51, 51, 51, 1);
  animation: waves 100s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.5);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
  animation: typing 1.5s steps(40, end), blink-caret 4.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.nav-item > a {
  color: #333333;
  font-family: "Onest", sans-serif;
}

.nav-item > a:hover {
  color: #4ed1ff;
}

#about {
  background: #333333;
  color: white;
  height: 100vh;
}

#skills {
  background: #333333;
  color: white;
  height: 100vh;
}

#projects {
  background: #333333;
  color: white;
  height: 100vh;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; /* Ensures the navbar appears on top of other content */
  background: white;
  color: black;
  padding: 10px 0; /* You can adjust the padding as needed */
}

